:root {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  color: #222;
  background: #f7f4fa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f7f4fa;
}